/.idea.idea/coveragecoverage/distdist/node_modulesnode_modulesprisma/dev.dbprisma/dev.db-journal/prisma/dev.db/prisma/dev.db-journal/prisma/migrationsprisma/migrations.DS_Store.clinic/.clinic.env/.env